@font-face {
    font-family: 'HelveticaExtLt';
    src: url('fonts/HelveticaExtLt.eot');
    src: local('☺'), url('fonts/HelveticaExtLt.woff') format('woff'), url('fonts/HelveticaExtLt.ttf') format('truetype'), url('fonts/HelveticaExtLt.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body, html{
    margin: 0;
    padding: 0;
    font-family: Georgia;
    font-size: 16px;
}

.contentVisPublicaPage p{
    text-align: justify;
    margin-bottom: 0px;
    margin-top: 0px;
}

.contentVisPublicaPage h2:first-of-type{
    margin-top: 15px;
}

.contentVisPublicaPage h2{
    margin-top: 25px;
    margin-bottom: 0px;
    text-align: justify;
    font-size: 12pt;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

a img {
    border: none;
}

.containerVisPublicaPage {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

/***** CABEÇALHO DO MINISTÉRIO *****/
#cabecalhoMinisterio{
    background: url('../images/bg_cabecalhoMinisterio.png') no-repeat center top;
}
#cabecalhoMinisterio .containerVisPublicaPage{
    background: url('../images/bg_cabecalhoMinisterio.png') no-repeat -500px top;
    height: 24px;
}
#cabecalhoMinisterio div a{
    float: right;
    display: block;
    height: 24px;
}

#linkAcessoInformacao{
    background: url('../images/linkAcessoInformacao.png') no-repeat;
    width: 170px;
    margin-right: 30px;
}

#linkBrasil{
    background: url('../images/linkBrasil.png') no-repeat;
    width: 114px;
    /*margin-right: -70px;*/
}


/***** HEADER VISPUBLICA *****/
#headerVisPublicaPage{
    background: url('../images/bg_header.png') repeat-x;
    height: 129px;
    text-align: left;
}

#logoVisPublica {
    margin-top: 20px;
    margin-left: 25px;
    display: inline-block;
}

#logoi3Gov {
    position: absolute;
    top: 32px;
    right: 0;
    /*right: -57px;*/
    display: inline-block;
}

/***** CONTAINER BAR VISPUBLICA *****/

#breadcrumbVisPublicaPage {
    font-family: Georgia;
    text-align: right;
    font-size: 15px;
}

#breadcrumbVisPublicaPage div {
    display: inline-block;
    padding-right: 8px;
}

#breadcrumbVisPublicaPage span {
    display: inline-block;
    height: 18px;
    line-height: 18px;
    float: right;
}

#breadcrumbVisPublicaPage > span,
#breadcrumbVisPublicaPage a > span {
    background: url('../images/breadcrumbArrow.png') left top no-repeat;
    padding-left: 33px;
}

#breadcrumbVisPublicaPage > span:last-child,
#breadcrumbVisPublicaPage > a:last-child span {
    background: none;
    padding-left: 0;
}

#breadcrumbVisPublicaPage div,
#breadcrumbVisPublicaPage span,
#breadcrumbVisPublicaPage a {
    color: #494949;
    font-size: 14px;
}

#breadcrumbVisPublicaPage a span {
    text-decoration: underline;
}

/***** CONTAINER VISPUBLICA *****/
#containerVisPublicaPage{
    width: 1000px;
    margin: auto;
}

#sidebarVisPublicaPage{
    width: 250px;
    float: left;
}

#sidebarVisPublicaPage+.contentVisPublicaPage{
    margin-left:250px;
    padding-left: 20px;
}

.contentVisPublicaPage{
    position: relative;
    overflow: hidden;
}

/***** CONTAINER VISPUBLICA CORES *****/

#catalogoPage {
    color: #845a00;
    padding-top: 15px;
}

.catalogoHeader p {
    font-size: 18px;

}

catalogoHeader h1{
    margin-bottom: 0;
}

/***** LOGIN VISPUBLICA *****/

#contentLoginForm {
    border: 1px solid #ccc;
    border-radius: 3px;
    display: block;
    width: 300px;
    margin: 20px auto 0;
    padding: 20px;
    box-shadow: 0 1px 3px #ccc;
}

#contentLoginForm div {
    height: 30px;
    line-height: 30px;
}

#contentLoginForm div + div {
    margin-top: 5px;
}

#contentLoginForm span {
    display: inline-block;
    width: 72px;
    text-align: right;
}

#contentLoginForm input[type="text"],
#contentLoginForm input[type="password"] {
    border: 1px solid #999;
    width: 180px;
    height: 20px;
    line-height: 20px;
    padding: 4px 5px 2px;
    box-sizing: content-box;
    margin-left: 5px;
    color: #333;
    font-size: 15px;
}

#contentLoginForm div + div + div {
    text-align: center;
    margin-top: 10px;
}

#contentLoginForm div + div + div input {
    margin-right: 10px;
    height: 30px;
    padding: 5px 18px;
}

#contentLoginForm div + div + div input + input {
    margin-right: 0;
    margin-left: 10px;
}

#identificador {
    display: none;
    width: 500px;
    margin: 30px auto 0;
    font-size: 14px;
    color: #333;
}

#identificador p {
    text-align: center;
}

#identificador p + p {
    margin: 10px auto 0;
    width: 380px;
    line-height: 25px;
}

#identificador span {
    display: inline-block;
    margin-right: 3px;
}

/***** CONTAINER TOPBAR VISPUBLICA *****/
#containerBarVisPublicaPage{
    height: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    position: relative;
}
#containerBarVisPublicaPage > img{
    float: right;
    margin-left: 10px;
    margin-right: 3px;
    cursor: pointer;
}
.iconeLogin{
    float:right;
    margin: 0 5px 0 10px;
}

.breadcumbs{
    float:right;
}

.divLogin{
    display: none;
    position: absolute;
    right: 0;
    top: 26px;
    z-index: 1;
}

.divLogin div{
    width: 218px;
    height: 146px;
    background: none repeat scroll 0 0 white;
    border: 2px solid #FFAF3A;
    margin-top: 7px;
}

.divLogin img{
    margin-right: 3px;
    float: right;
}

.divLogin span{
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}

.divLogin #pass, .divLogin #login{
    width: 103px;
}

.divLogin #bttLogin, .divLogin #bttSenha{
    margin-top: 5px;
}

.divLogin div table tr td:first-child{
    text-align: left;
    font-weight: bold;
}

.divLogin table{
    margin-left: 26px;
}

/***** FOOTER VISPUBLICA *****/
#footerVisPublica {
    height: 30px;
    margin-top: 10px;
}

/***** CONTEUDO CONTENT *****/
.subtitle{
    font-weight: bold;
    margin-top: 10px;
}

.contentVisPublicaPage h1{
    font-size:14pt;
    margin-top: 0;
}

.contentVisPublicaPage .corCatalogo{
    color:#7C590E;
}

.contentVisPublicaPage .quadro{
    text-align:left;
    font-size:12px;
    width:680px;
    float:none;
    height:100px;

}

.contentVisPublicaPage .quadro img{
    float:left;
    border:0;
    margin-right:5px;
}

.contentVisPublicaPage .quadro h4{
    margin:0;
    font-weight:normal;
    font-size:14px;
    text-align:inherit;
}


/**** CATALOGO ****/
.boxTagClouds{
    background-color: #F6F6F6;
    border: 1px solid #BBBBBB;
    border-radius: 10px 10px 10px 10px;
    margin: 25px auto 35px;
    padding: 10px;
    text-align: justify;
    width: 96%;
}

.faleConosco .titulo{
    text-align: center;
    color: #87111f;
}

.faleConosco a{
    color: #87111f;
}

.quemSomos .titulo{
    color: #570f79;
    text-align: center;
}
.extensao .titulo{
    color: #004208;
    text-align: center;
}
.extensao a{
    color: #349340;
}
.biblioteca .titulo{
    color: #21729e;
    text-align: center;
}
.biblioteca a{
    color: #21729e;
}
.manual .titulo{
    color: #a18119;
    text-align: center;
}
.manual a{
    color: #a18119;
}

.integracao .subtitle, .integracao a{
    color: #bc6022;
}
.integracao .titulo{
    color: #bc6022;
    text-align: center;
}

.paginaInicialSubTitulo{
    color: #373434;
    font-size: 14pt;
    font-style: italic;
    font-weight: bold;
}
.imagemTitle{
    display:block;
    margin: 10px auto;
}

.titulo{
    font-size:16pt;
    margin-top: -10px;
    border-bottom: 4px solid #a7a7a7;
    padding-bottom: 5px;
}

.textoEstatica{
    padding-top: 15px;
}

.listCatalogoPage .contentVisPublicaPage{
    padding-top: 10px;
}

.catalogoListaHeader{
    border-bottom: 4px solid #A99670;
    color: #845A00;
    padding-bottom: 5px;
    margin-bottom: 10px;

}
.catalogoListaHeader h1{
    margin-bottom: 0;
    margin-top: 30px;
}

.catalogoListaHeader p{
    font-size: 18px;
}

.listaCatalogo p{
    font-size: 14px;
    display: table;
}

.listCatalogoPage .fLeft{
    border: 6px solid #c8bca4;
    margin-right: 10px;
}

.fRight{
    float: right;
}

.listCatalogoPage h4, .listCatalogoPage p{
    margin: 0;
}
.listCatalogoPage h4{
    margin-top: 10px;
}

.listCatalogoPage a{
    color: #987d45;
}
/***** CONTAINER HOME VISPUBLICA *****/

.homeContainer h1 {
    margin: 0;
    margin-top: 20px;
}

.homeContainer h1 span {
    display: block;
    background: url('../images/bg-homeTitle.png') no-repeat left bottom;
    padding-bottom: 3px;
    padding-left: 80px;
    font-family: Verdana;
    font-weight: bold;
    font-size: 24px;
    color: #3a3939;
}

.homeContainer h1 span + span {
    background: none;
    margin-top: 2px;
    padding-right: 95px;
    padding-bottom: 0;
    font-family: Georgia;
    font-size: 18px;
    font-style: italic;
    font-weight: normal;
    color: #5a5252;
    text-align: right;
}

.homeContainer .textHome {
    margin-top: 35px;
}

.homeContainer .textHome p {
    margin: 0;
    text-align: justify;
    font-size: 16px;
    line-height: 20px;
}

.homeContainer .homeSubtitle {
    background: url('../images/bg-homeSubtitle.png') left 2px no-repeat;
    margin-top: 30px;
    margin-bottom: 0;
    padding-left: 20px;
}

.homeContainer .homeSubtitle + p {
    margin: 0;
    margin-top: 3px;
    margin-left: 30px;
}

.homeContainer .homeQuadrosContainer {
    width: 746px;
    margin-top: 10px;
    margin-left: -8px;
    overflow: auto;
}

.homeContainer .homeQuadrosContainer a {
    text-decoration: none;
}

.homeContainer .homeQuadrosContainer > a > div {
    border: 2px solid #b1b1b1;
    width: 223px;
    height: 223px;
    float: left;
    margin: 5px 8px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.homeContainer .homeQuadrosContainer > a > div > div {
    background: #a7a7a7;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.95;
}

.homeContainer .homeQuadrosContainer > a > div > div > h2 {
    width: 228px;
    height: 35px;
    line-height: 35px;
    margin: 0;
    text-align: center;
    font-family: Georgia;
    font-weight: normal;
    font-size: 16px;
}

.homeContainer .homeQuadrosContainer > a > div > div > div {
    display: none;
    padding: 8px;
    font-size: 14px;
    text-align: justify;
    background: #ccc;
    color: #333;
    line-height: 21px;
}

/***** CONTAINER CrieSeuGrafico (csg) VISPUBLICA *****/
.csgContainer .titulo{
    color: #ba4b75;
    text-align: center;

}


.csgContainer h1 {
    margin-top: 40px;
    margin-bottom: 0;
    color: #ac4c70;
    text-align: center;
    border-bottom: 4px solid #a7a7a7;
}

.csgContainer.csgInnerPage h1 {
    border: none;
    text-align: left;
}

.csgContainer a, .csgContainer ul {
    color: #cf7899;
}

.csgContainer ul {
    padding-left: 25px;
}

.csgContainer h4 {
    margin-top: 15px;
    font-weight: normal;
}

.csgContainer h4 + p {
    font-size: 15px;
    margin-top: 5px;
    color: #333;
}

.csgContainer h4, .csgContainer p {
    margin-bottom: 0;
}

.csgInnerPage h2, .csgInnerPage p {
    font-size: 16px;
    color: #494949;
}

.csgInnerPage h2 {
    margin-top: 25px;
    margin-bottom: 0;
    font-weight: bold;
}

.csgInnerPage p {
    font-weight: normal;
    margin: 0;
}

.csgInnerPage .option-box {
    margin-top: 30px;
    border: 1px solid #bbbbbb;
    border-radius: 6px;
    background: #f6e7dd;
    font-weight: normal;
    padding: 10px;
}

.csgInnerPage .option-box h3, .csgInnerPage .option-box p {
    font-size: 14px;
    color: #61323f;
}

.csgInnerPage .option-box h3 {
    font-weight: bold;
    margin: 0;
}

.csgInnerPage .option-box p {
    margin-top: 10px;
}

.csgInnerPage .option-box form {
    margin: 0;
}

.csgInnerPage .option-box + p,
.csgInnerPage .exampleTag,
.csgInnerPage .boxTagClouds {
    margin-top: 15px;
}

p.descricaoTecnologia{
    display: table;
    margin-bottom: 10px;
}

.headerDashboard .ui-dialog-title{
    font-family: 'HelveticaExtLt';
}
body, html {
    background: none !important;
}

/*boxTutorialTecnico */
.boxTutorialTecnico{
    background-color: #f6eeb8;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    border: 1px solid #BBBBBB;
}

.titleTutorial{
    margin-bottom: 10px;
    padding-top: 5px;
    font-weight: bold;
}

.boxTutorialTecnico a{
    color: #05f;
    text-decoration: none;
}

.boxTutorialTecnico a:hover{
    text-decoration: underline;
}

.boxTutorialTecnico ul li{
}

/*FIM boxTutorialTecnico */

.clear{
    clear: both;
}

/* HYPERTREE */

#center-containerHypertree.containerHypertreePersonalizado{
    height: 470px;
}

#infovisHypertree {
    position:relative;
    width:460px;
    height:480px;
    margin:auto;
    /*overflow:hidden;*/
}

.linkBrasil {
    color: #0055FF !important;
}

.linkBrasil:hover {
    color: #FF9B00 !important;
}
/**** CSS para Catalogo e CrieSeuGrafico *****/
/*CSS da página wordCloud.jsp (googleAPI)*/
.containerVisPublicaPage .contentVisPublicaPage .word-cloud {font-family: arial; font-size: 10px;}
.containerVisPublicaPage .contentVisPublicaPage .word-cloud a {text-decoration: none;}
.containerVisPublicaPage .contentVisPublicaPage .word-cloud a:hover {text-decoration: underline;}
.containerVisPublicaPage .contentVisPublicaPage .word-cloud-1 {font-size: 10px; color: #acc1f3;}
.containerVisPublicaPage .contentVisPublicaPage .word-cloud-2 {font-size: 14px; color: #86a0dc;}
.containerVisPublicaPage .contentVisPublicaPage .word-cloud-3 {font-size: 18px; color: #607ec5;}
.containerVisPublicaPage .contentVisPublicaPage .word-cloud-4 {font-size: 22px; color: #264ca2;}
.containerVisPublicaPage .contentVisPublicaPage .word-cloud-5 {font-size: 26px; color: #133b97;}
.containerVisPublicaPage .contentVisPublicaPage .word-cloud-6 {font-size: 32px; color: #002a8b;}
.containerVisPublicaPage .contentVisPublicaPage .word-cloud-7 {font-size: 36px; color: #071a41;}
.containerVisPublicaPage .contentVisPublicaPage .word-cloud-8 {font-size: 40px; color: #081122;}
.containerVisPublicaPage .contentVisPublicaPage .word-cloud-9 {font-size: 44px; color: #000000;}
/*FIM CSS da página wordCloud.jsp (googleAPI)*/
/*CSS da página openCloud.jsp*/
.containerVisPublicaPage .contentVisPublicaPage #openCloud body { font-family: Sans-serif;}
.containerVisPublicaPage .contentVisPublicaPage #openCloud span {text-decoration: none; color: blue;}
.containerVisPublicaPage .contentVisPublicaPage #openCloud .tag_1, .tag_2, .tag_3, .tag_4 {
    background-color: transparent;
    margin: 3px;
    padding: 1px;
    font-family: Arial, Helvetica, Sans-Serif;
    color:blue;
}
.containerVisPublicaPage .contentVisPublicaPage #openCloud .tag_1 {font-size: 10pt;}
.containerVisPublicaPage .contentVisPublicaPage #openCloud .tag_2 { font-size: 14pt;}
.containerVisPublicaPage .contentVisPublicaPage #openCloud .tag_3 {font-size: 18pt;}
.containerVisPublicaPage .contentVisPublicaPage #openCloud .tag_4 {font-size: 20pt;}
.containerVisPublicaPage .contentVisPublicaPage #openCloud .tagcloud {
    text-align: justify;
    margin: 15px;
    padding: 10px;
    background-color: #f6f6f6;
    border: #bbbbbb 1px solid;
    -moz-border-radius: 10px;
}
/*FIM do CSS da página openCloud.jsp*/
/*CSS da página xiao.jsp*/
.containerVisPublicaPage .contentVisPublicaPage .xiao a {text-decoration: none;}
.containerVisPublicaPage .contentVisPublicaPage .xiao a.t10 {
    color: #FF3300;
    font-size: 130%;
    font-weight: bold;
}
.containerVisPublicaPage .contentVisPublicaPage .xiao a.t10:hover {
    background-color: #FF3300;
    color: #FFFFFF;
}
.containerVisPublicaPage .contentVisPublicaPage .xiao a.t9 {
    color: #FF3300;
    font-size: 125%;
}
.containerVisPublicaPage .contentVisPublicaPage .xiao a.t9:hover {
    background-color: #FF3300;
    color: #FFFFFF;
}
.containerVisPublicaPage .contentVisPublicaPage .xiao a.t8 {
    color: #FF9933;
    font-size: 120%;
    font-weight: bold;
}
.containerVisPublicaPage .contentVisPublicaPage .xiao a.t8:hover {
    background-color: #FF9933;
    color: #FFFFFF;
}
.containerVisPublicaPage .contentVisPublicaPage .xiao a.t7 {
    color: #FF9933;
    font-size: 115%;
}
.containerVisPublicaPage .contentVisPublicaPage .xiao a.t7:hover {
    background-color: #FF9933;
    color: #FFFFFF;
}
.containerVisPublicaPage .contentVisPublicaPage .xiao a.t6 {
    color: #99CC33;
    font-size: 110%;
    font-weight: bold;
}
.containerVisPublicaPage .contentVisPublicaPage .xiao a.t6:hover {
    background-color: #99CC33;
    color: #FFFFFF;
}
.containerVisPublicaPage .contentVisPublicaPage .xiao a.t5 {
    color: #339933;
    font-size: 105%;
}
.containerVisPublicaPage .contentVisPublicaPage .xiao a.t5:hover {
    background-color: #339933;
    color: #FFFFFF;
}
.containerVisPublicaPage .contentVisPublicaPage .xiao a.t4 {
    color: #339933;
    font-size: 100%;
    font-weight: bold;
}
.containerVisPublicaPage .contentVisPublicaPage .xiao a.t4:hover {
    background-color: #339933;
    color: #FFFFFF;
}
.containerVisPublicaPage .contentVisPublicaPage .xiao a.t3 {
    color: #339999;
    font-size: 95%;
}
.containerVisPublicaPage .contentVisPublicaPage .xiao a.t3:hover {
    background-color: #339999;
    color: #FFFFFF;
}
.containerVisPublicaPage .contentVisPublicaPage .xiao a.t2 {
    color: #3399FF;
    font-size: 90%;
    font-weight: bold;
}
.containerVisPublicaPage .contentVisPublicaPage .xiao a.t2:hover
{
    background-color: #3399FF;
    color: #FFFFFF;
}
.containerVisPublicaPage .contentVisPublicaPage .xiao a.t1 {
    color: #888888;
    font-size: 85%;
}
.containerVisPublicaPage .contentVisPublicaPage .xiao a.t1:hover {
    background-color: #888888;
    color: #FFFFFF;
}
/*CSS da página xiao.jsp*/

/*CSS da página toCloud.jsp*/
.containerVisPublicaPage .contentVisPublicaPage #toCloud .cloud { border: 1px dotted black; background-color: white; }
.containerVisPublicaPage .contentVisPublicaPage #toCloud .cloud a:hover { text-decoration: underline; color: rgb(71, 93, 122); }
.containerVisPublicaPage .contentVisPublicaPage #toCloud .cloud a { text-decoration: none; color: rgb(0, 34, 0); }
.containerVisPublicaPage .contentVisPublicaPage #toCloud .cloud .w1 { color: orange; }
.containerVisPublicaPage .contentVisPublicaPage #toCloud .cloud .w2 { color: orange; }
.containerVisPublicaPage .contentVisPublicaPage #toCloud .cloud .w3 { color: orange; }
.containerVisPublicaPage .contentVisPublicaPage #toCloud .cloud .w4 { color: orange; }
.containerVisPublicaPage .contentVisPublicaPage #toCloud .cloud .w5 { color: orange; }
.containerVisPublicaPage .contentVisPublicaPage #toCloud .cloud .w6 { color: orange; }
.containerVisPublicaPage .contentVisPublicaPage #toCloud .cloud .w7 { color: orange; }
.containerVisPublicaPage .contentVisPublicaPage #toCloud .cloud .w8 { color: orange; }
.containerVisPublicaPage .contentVisPublicaPage #toCloud .cloud .w9 { color: orange; }
.containerVisPublicaPage .contentVisPublicaPage #toCloud .cloud .w10 { color: orange; }
.containerVisPublicaPage .contentVisPublicaPage #toCloud .cloud .p1 { color: green; }
.containerVisPublicaPage .contentVisPublicaPage #toCloud .cloud .p2 { color: green; }
.containerVisPublicaPage .contentVisPublicaPage #toCloud .cloud .p3 { color: green; }
.containerVisPublicaPage .contentVisPublicaPage #toCloud .cloud .p4 { color: green; }
.containerVisPublicaPage .contentVisPublicaPage #toCloud .cloud .p5 { color: green; }
.containerVisPublicaPage .contentVisPublicaPage #toCloud .cloud .p6 { color: green; }
.containerVisPublicaPage .contentVisPublicaPage #toCloud .cloud .p7 { color: green; }
.containerVisPublicaPage .contentVisPublicaPage #toCloud .cloud .p8 { color: green; }
.containerVisPublicaPage .contentVisPublicaPage #toCloud .cloud .p9 { color: green; }
.containerVisPublicaPage .contentVisPublicaPage #toCloud .cloud .p10 { color: green; }
.containerVisPublicaPage .contentVisPublicaPage #toCloud .fq { color: rgb(153, 153, 153); }
.containerVisPublicaPage .contentVisPublicaPage #toCloud .cloud .phrase { color: rgb(170, 0, 0); }
.containerVisPublicaPage .contentVisPublicaPage #toCloud .cloud .s1 { color: blue; }
.containerVisPublicaPage .contentVisPublicaPage #toCloud .cloud .s1s2 { color: green; }
.containerVisPublicaPage .contentVisPublicaPage #toCloud .cloud .s2 { color: red; }
.containerVisPublicaPage .contentVisPublicaPage #toCloud .popup { display: none; z-index: 1001; position: absolute; background-color: rgb(255, 255, 255); border-width: 1px 2px 2px 1px; border-style: solid; border-color: rgb(68, 68, 68); overflow: auto; margin: 0pt; padding: 0pt; border-radius: 10px 10px 10px 10px; }
.containerVisPublicaPage .contentVisPublicaPage #toCloud img { border: 0pt none; }
.containerVisPublicaPage .contentVisPublicaPage #toCloud a { text-decoration: none; }
.containerVisPublicaPage .contentVisPublicaPage #toCloud .title { font-size: 120%; font-weight: bold; }
/*FIM do CSS da página toCloud.jsp*/
/*CSS da página wordCloud.jsp (googleAPI)*/
.containerVisPublicaPage .contentVisPublicaPage .word-cloud {font-family: arial; font-size: 10px;}
.containerVisPublicaPage .contentVisPublicaPage .word-cloud a {text-decoration: none;}
.containerVisPublicaPage .contentVisPublicaPage .word-cloud a:hover {text-decoration: underline;}
.containerVisPublicaPage .contentVisPublicaPage .word-cloud-1 {font-size: 10px; color: #acc1f3;}
.containerVisPublicaPage .contentVisPublicaPage .word-cloud-2 {font-size: 14px; color: #86a0dc;}
.containerVisPublicaPage .contentVisPublicaPage .word-cloud-3 {font-size: 18px; color: #607ec5;}
.containerVisPublicaPage .contentVisPublicaPage .word-cloud-4 {font-size: 22px; color: #264ca2;}
.containerVisPublicaPage .contentVisPublicaPage .word-cloud-5 {font-size: 26px; color: #133b97;}
.containerVisPublicaPage .contentVisPublicaPage .word-cloud-6 {font-size: 32px; color: #002a8b;}
.containerVisPublicaPage .contentVisPublicaPage .word-cloud-7 {font-size: 36px; color: #071a41;}
.containerVisPublicaPage .contentVisPublicaPage .word-cloud-8 {font-size: 40px; color: #081122;}
.containerVisPublicaPage .contentVisPublicaPage .word-cloud-9 {font-size: 44px; color: #000000;}

.fLeft{
    float: left;
}

.titleBoxSimulacao {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: -10px;
    margin-left: 10px;
    margin-top: 15px;
}

.boxSeries{
    background: none repeat scroll 0 0 #FCF6D6;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5px;
}

.headerSeries{
    padding: 7px;
    background-color: rgb(110, 153, 121);
    color: white;
    font-weight: bold;
    border-radius: 5px 5px 5px 5px;
}

.bodySeries{
    padding: 3px;
}

.bodySeries ul{
    margin: 0;
    padding-left: 30px;
}

.bodySeries li{
    padding: 2px 0;
}

.vispublicaIcon{
    background: url("/vispublica/images/vpicone.png") repeat scroll 0 0 transparent;
    float: right;
    display: none;
    height: 20px;
    margin-right: 6px;
    margin-top: -1px;
    width: 24px;
}


.titleBoxSimulacao {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: -10px;
    margin-left: 10px;
    margin-top: 15px;
}
.containerVisPublicaPage .contentVisPublicaPage .word-cloud-9 {font-size: 44px; color: #000000;}

.jqueryslidemenu li {
    width: 308px !important;
}

.jqueryslidemenu li ul li a {
    padding-right: 10px !important;
}
.tableVisualizationMenu{
    margin-bottom: 10px;
    margin-top: 0;
    text-align: center;
    width: 100%;
}
.jqueryslidemenu{
    list-style: none;
   /* border:1px solid #c0c0c0; */
    float:left;
    width: 100%;
    height: 60px;
    text-align: center;
}
.jqueryslidemenu ul{
    list-style: none;
}

.jqueryslidemenu li{
    position:relative;
    background-color: #47627C;
    float:left;
    width: 280px;

/*border-right:1px solid #c0c0c0; */
}
.jqueryslidemenu li ul a{
    color:#6D6D6D;
 }
/*Top level list items*/
.jqueryslidemenu li a{
    color:#fff;
    font-weight: bold;
    text-decoration:none;
    padding:5px 10px;
    display:block;
    border: 1px solid #FFF;
}
/*Top level menu link items style*/
.jqueryslidemenu li a:hover{
    background:#233453;
    color:#fff;
    -moz-box-shadow:0 3px 10px 0 #000;
    -webkit-box-shadow:0 3px 10px 0 #ccc;

    /*text-shadow:0px 0px 5px #fff; */
}
.jqueryslidemenu li a span.ui-icon-triangle-1-s {
  float:right;
  background-image: url("images/ui-icons_ffffff_256x240.png");

 }
 .jqueryslidemenu li ul{

    top:25px;
    left:0;
    display:none;
}
.jqueryslidemenu li:hover ul, .jqueryslidemenu li.over ul {
    display: block;
}

.jqueryslidemenu li ul li {
    display: block;
    margin-left: -40px;
    width: 280px;
    background-color: #E5FAE8;

}

.jqueryslidemenu li ul li a{
    padding-right: 26px;
}
.formXMLWrapper{
    display: block;
    padding: 10px;
      /*  margin: 3px;
   /* border-radius: 10px 10px 10px 10px;*/
    background-color: #DBECFC;
    border: 2px solid #415e7b
}
.inputURL{
    width: 661px;
}
.submitWrapper{
    font-size: 12px !important;
    margin-right: 3px;
    margin-top: 10px;
    text-align: right;
}

.tableEntradaXML td{
    vertical-align: top;
}

.textoErro{
    color: red;
    text-align: center;
    margin: 10px 0;
}

.textInputSelection{
    color: blue;
}

.labelTecnica{
    margin-bottom: 10px;
    margin-left: 6px;
    text-align: left;
}

fieldset.boxTagCloudsJIT {
    padding-bottom: 15px;
    padding-top: 15px;
}

#container.containerVispublica{
    height: 600px;
    margin: 0 auto;
    position: relative;
    background: transparent;
    width: 889px;
    min-height: 200px;
}

.demoVisualizationContainer > div{
    margin: 0 auto;
}


#visualizacaoInfovis {
    width: 650px;
    margin: 0 auto;
}
#visualizacaoTreemapInfovis{
    width: 900px;
    margin: 0 auto;
}

.hypertree-container {
    overflow: hidden;
}

.barchart-container .infovis {
    right: 0 !important;
}

.containerAPIGoogle {
    margin: 0 auto !important;
}

/***  POP UP  ***/
.mainPopUp {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    margin: 15px 10px;
    position: relative;
    width: 910px;
}
.mainPopUp p{
    margin-top: 7px;
    margin-bottom: 10px;
}

.mainPopUp .title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 0;
}


.boxVizPopUp{
    border: 1px solid #BBBBBB;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
    text-align: justify;
    width: 98%;
}

.boxTitlePopUp div, .boxInstrucoesPopUp div{
    background-color: #FFF;
    padding: 10px;
}

.boxTitlePopUp, .boxInstrucoesPopUp{
    border-top: 3px solid #BBBBBB;
    border-bottom: 3px solid #BBBBBB;
    text-align: justify;
    width: 98%;
    padding: 0 10px;
}

.selecionaLocal{
    margin-top: 5px;
    margin-bottom: 5px;
}

.selecionaLocal a{
    text-decoration: none;
    color: #ED8E00;
    font-weight: bold;
}

.selecionaLocal a:hover{
    text-decoration: underline;
    color: #74A82F;
}

.palign {
    margin-top: 7px;
    margin-bottom: 10px;
}

.containerAPIHighCharts{
    margin: 0 auto;
    height: 620px;
}
.texto{
  line-height:1.5em;
  margin-bottom:0;
  margin-left:10px;
  margin-right:10px;
  text-align:justify;
  font-family: georgia;
  font-size: 11pt;
  padding-bottom: 10px;
}

.bibliotecaDemo .demo{
    border: 4px solid #415e7b;
}
.tagBiblioteca{
    height: 50px;
    width: 965px;
    margin-left: -4px;
    padding: 2px 0px 0px 2px;
}
.link{
    text-align: right;
    padding-top:10px;
    padding-bottom:10px;
    font-family: georgia;
    font-size: 11pt;
}
.link a{
     color: #333333;
}
#visualizacaoHighChartsselectDiv {
    font-size: 14px;
    text-align: right;
}
.vigenciaWrapper{
    border-radius: 4px 4px 4px 4px;
    float: left;
    padding-bottom: 10px;
    width: 899px;

}

.vigenciaWrapper .headerDashboard.ui-widget-header{
    background: url("images/ui-bg_glass_90_d2d2d2_1x400.png") repeat-x scroll 50% 50% #D2D2D2;
    color: black;
    border: 1px solid #acadb2;
    margin-bottom: 5px;
}

.vigenciaWrapper .headerDashboard .ui-dialog-title{
    font-size: 14px;
}
.boxErrorStackTrace{
    display: none;
}

.tituloMultiAxes{
    font-weight: bold;
    font-family: Verdana;
    font-size: 13px;
}
.sobre{
    background-color: #FFFFFF;
    border: 1px solid #A9ADBD;
    box-shadow: 4px 1px 12px #B8B8B8;
    margin: 0 auto;
    margin-top: 15px;
    padding: 10px;
    font-family: Verdana;
    position: relative;
    padding-top: 0;
}
.headerSobre {
    padding: 0.4em 1em;
    position: relative;
    margin-bottom: 10px;
    margin-left: -10px;
    margin-right: -10px;
    border-bottom: 3px solid #079200;
}


.headerSobre .titleSobre{
    font-family: 'HelveticaExtLt';
    font-size: 24px;
    margin: 0.1em 16px 0.1em 0px;
} 
.contentSobre a{
   text-decoration: underline;
   color: #079200;
}